.row {
    width: 70%;
    margin: 10px auto 100px auto;
}

.contact-img {
    width: 100px;
    transition: 0.5s;
}

.contact-text {
    word-wrap: break-word;
    font-size: 20px;
    margin-top: 30px;
    color: var(--main-color);
}

.col {
    cursor: pointer;
    margin-bottom: 30px;
}

.col:hover .contact-text {
    text-decoration: underline var(--main-color) 1px;
}

.col:hover .contact-img {
    transform: scale(1.3);
}


@media (max-width: 1200px) {
    .row {
        width: 80%;
    }
}