.content-container {
    width: 60%;
    margin: 20px auto;
    padding-bottom: 30px;
}

.question-container {
    border-radius: 10px;
    background-color: #f7edd7;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.number {
    font-size: larger;
    font-weight: bold;
}

.progress-bar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.progress-bar {
    background-color: var(--main-color);
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 120px;
    z-index: 2;
    text-align: center;
    padding:20px;
    box-sizing: border-box;
}

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height:30px;
    color:black;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align: center;
    border-radius:50%;
}

.popup.active .overlay{
    display:block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.submit-btn {
    background-color: var(--main-color);
    color: white;
    border: unset;
}

.submit-btn:hover {
    background-color: var(--main-color);
    opacity: 0.8;
}