.my-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 20px 0;
  justify-content: center;
}

.my-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.my-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .my-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .my-column {
    flex: 100%;
    max-width: 100%;
  }
}